{{#if session.currentUser }}
  {{#paper-sidenav-container class="inner-sidenav"}}
    {{#paper-sidenav
      class="md-whiteframe-z2"
      name="left2"
      open=leftSideBarOpen2
      lockedOpen=leftSideBarLockedOpen
      onToggle=(action (mut leftSideBarOpen2))}}
      {{#paper-toolbar as |toolbar|}}
        {{#paper-toolbar-tools}}tic tac toe{{/paper-toolbar-tools}}
        {{#paper-toolbar-tools}}{{session.currentUser.email}}{{/paper-toolbar-tools}}
      {{/paper-toolbar}}
      {{#paper-content padding=true}}
        <div {{action 'signOut'}}>
          sign-out
        </div>
      {{/paper-content}}
    {{/paper-sidenav}}

    {{#paper-card-content class="flex"}}
    <div class="layout-columnlayout-align-start-sart flex-100">
      <div class="header">
        {{#paper-button raised=false onClick=(action "toggle" "leftSideBarOpen2")}}
          {{paper-icon "menu" size=48 class="white"}}
        {{/paper-button}}
      </div>
      {{outlet}}
    </div>
    {{/paper-card-content}}

  {{/paper-sidenav-container}}

{{else}}
  {{outlet}}
{{/if}}
